/***
* RHD Dev: Compiled at 4:34:34 PM on 30-04-2015
***/

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}
.invisible {
  position: absolute;
  visibility: hidden;
  margin: 0;
}
.flexbox {
  text-align: justify;
}
.flexbox:after {
  width: 100%;
  display: inline-block;
  content: '';
}
.flexitem {
  display: inline-block;
}
/* ==========================================================================
	Child Main Stylesheet
   ========================================================================== */
