@require "partials/_global.styl"

/* ==========================================================================
	Child Main Stylesheet
   ========================================================================== */

