@require "partials/_global.styl"

/* ==========================================================================
	Child Main Stylesheet
   ========================================================================== */

html
body
	ff_body()


h1
h2
h3
h4
h5
h6
.entry-title
.page-title
	ff_special()