/* ==========================================================================
	Global Stylus Variables
   ========================================================================== */

// Variables
$red = #a01c28
$red2 = #580f16

$ff-body = 'Oswald', sans-serif


// Classes

.unselectable
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;


.invisible
	position absolute
	visibility hidden
	margin 0


.clearfix
	&:before
	&:after
		content " " /* 1 */
		display table /* 2 */

	&:after
		clear both

.bg-red
	background-color $red
	color white


// Manual Flexbox

-flexbox()
	text-align justify
	padding 0

	&:after
		width 100%
		display inline-block
		content ''


-flexitem()
	display inline-block


// Functions

-wrapper( $topMargin = false, $bottomMargin = false, $customWidth = false )
	if $customWidth == false
		$w = 85%
	else
		$w = $customWidth

	if $topMargin == false
		$topMargin = 0
	if $bottomMargin == false
		$bottomMargin = 0

	width $w
	max-width 64em
	position relative
	margin $topMargin auto $bottomMargin auto


-unwrapper()
	width 100%


-body-shadow( $yPos )
	box-shadow 0em $yPos 0.45em 0em rgba(0,0,0,0.5)


-placeholder-props( $famVal, $color)
	&::-webkit-input-placeholder
		font-family $famVal
		color $color
	&:-moz-placeholder /* Firefox 18- */
		font-family $famVal
		color $color
	&::-moz-placeholder  /* Firefox 19+ */
		font-family $famVal
		color $color
	&:-ms-input-placeholder
		font-family $famVal
		color $color


-opacity( $val )
	-moz-opacity $val
	-webkit-opacity $val
	opacity $val


-transform( $val )
	-webkit-transform $val
	transform $val