/* ==========================================================================
	Global Stylus Variables
   ========================================================================== */

// Variables
$color2 = #4f8599
$color2-light = #5a99b0


// Classes

.unselectable
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;


.invisible
	position absolute
	visibility hidden
	margin 0


.clearfix
	&:before
	&:after
		content " " /* 1 */
		display table /* 2 */

	&:after
		clear both


// Manual Flexbox

flexbox()
	text-align justify
	padding 0

	&:after
		width 100%
		display inline-block
		content ''


flexitem()
	display inline-block


// Functions

ff_body()
	font-family 'Muli', sans-serif

ff_special()
	font-family 'Cinzel', serif
	font-weight normal


wrapper( $topMargin = false, $bottomMargin = false, $customWidth = false )
	if $customWidth == false
		$w = 85%
	else
		$w = $customWidth

	if $topMargin == false
		$topMargin = 0
	if $bottomMargin == false
		$bottomMargin = 0

	width $w
	max-width 64em
	position relative
	margin $topMargin auto $bottomMargin auto


unwrapper()
	width 100%


body-shadow( $yPos )
	box-shadow 0em $yPos 0.45em 0em rgba(0,0,0,0.5)


placeholder-props( $famVal, $color)
	&::-webkit-input-placeholder
		font-family $famVal
		color $color
	&:-moz-placeholder /* Firefox 18- */
		font-family $famVal
		color $color
	&::-moz-placeholder  /* Firefox 19+ */
		font-family $famVal
		color $color
	&:-ms-input-placeholder
		font-family $famVal
		color $color


opacity( $val )
	-moz-opacity $val
	-webkit-opacity $val
	opacity $val


transform( $val )
	-webkit-transform $val
	transform $val


border-radius( $rad )
	-webkit-border-radius $rad
	-moz-border-radius $rad
	border-radius $rad